services:
- mysql
- mariadb

variables:
  # Configure mysql service (https://hub.docker.com/_/mysql/)
  MYSQL_DATABASE: root
  MYSQL_ROOT_PASSWORD: root
  MYSQL_PASSWORD: root
  MYSQL_USER: root
  MYSQL_HOST: localhost
  
connect:
  image: mysql
  script:
  - apt-get update && apt-get --assume-yes install mysql-client
  - echo "SELECT 'OK';" | mysql --user=root --password="$MYSQL_ROOT_PASSWORD" --host="$MYSQL_HOST" "$MYSQL_DATABASE"
